@font-face {
	font-family: GalanoGrotesqueDEMOBold;
	src: url("../fonts/GalanoGrotesqueDEMOBold.otf") format("opentype");
}
@font-face {
	font-family: MuseoSans-300;
	src: url("../fonts/MuseoSans-300.otf") format("opentype");
}
@font-face {
	font-family: MuseoSans-700;
	src: url("../fonts/MuseoSans-700.otf") format("opentype");
}
/* Reset CSS */
*, *::before, *::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}

html {
	font-size: 10px;
}

body {
	font-family: "GalanoGrotesqueDEMOBold";
	font-weight: 400;
	line-height: 1;
}

img {
	vertical-align: bottom;
}
a {
	text-decoration: none;
}
a:hover,
a:focus {
	-webkit-tap-highlight-color: transparent;
	outline: none;
}
small {
	text-transform: lowercase;
}

/* container style */
.container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	height: 100vh;
	width: 100%;
}

/* description style */
.description {
	background: url(../img/description-bg.png) center no-repeat;
	background-size: 100% 100%;
	border-left: 8.1rem solid #202d54;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 0 5rem;
	height: 100%;
	width: calc(72.2rem + 8.1rem);
}

.description__logo {
	background-color: #1f2d57;
	margin-bottom: 3.8rem;
	/*height: 32.1rem;*/
	width: 28.1rem;
}

.description__logo img {
	padding: 5.9rem 3.8rem 3.5rem;
	width: 100%;
}

.description__title {
	margin-bottom: 4.2rem;
}

.description__title h1 {
	overflow: hidden;
}

.description__title h1 span {
	color: #fff;
	display: inline-block;
	font-weight: 500;
	padding: 0 .9rem;
	text-transform: uppercase;
}

.description__title h1 span.green {
	background-color: #049e3d;
	font-size: 7rem;
}

.description__title h1 span.blue {
	background-color: #12b8ed;
	font-size: 4.2rem;
	padding: .5rem .9rem;
}

.description__info p {
	color: #202d54;
	font-family: "MuseoSans-300";
	font-size: 2.3rem;
	font-weight: 400;
	line-height: 4rem;
	overflow: hidden;
}

.description__info p strong {
	font-family: "MuseoSans-700";
}

.description__info.mf p,
.description__info.mv p {
	font-size: 2.2rem;
	line-height: 3rem;
}

.description__info.services p {
	font-size: 2rem;
}

.description__info.siec p {
	line-height: 3.5rem;
}

.description__info p span {
	display: inline-block;
}

.description p:not(:last-child) {
	margin-bottom: 2rem;
}

.description__info--list {
	overflow: hidden;
}

.description ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

.description ul li {
	color: #202d54;
	font-family: "MuseoSans-700";
	font-size: 1.7rem;
	line-height: 3.5rem;
	width: calc(100% / 2);
}

.description__web-address {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	margin-bottom: 3rem;
	overflow: hidden;
}

.description__web-address h5 {
	color: #202d54;
	font-size: 27px;
	font-weight: 700;
	letter-spacing: .107rem;
	text-transform: uppercase;
}

/* content style */
.content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
	width: calc(100% - (72.2rem + 8.1rem));
}

/* header style */
.header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height: 16rem;
	width: 100%;
}

.navbar {
	height: 100%;
	width: 100%;
}

.navbar__nav {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	height: 100%;
}

.navbar__item {
	height: 100%;
	width: 100%;
}

.navbar__link {
	background-color: #202d54;
	color: #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 3.5rem;
	font-weight: 700;
	letter-spacing: .42rem;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	height: 100%;
	width: 100%;
}

.navbar__link:hover,
.navbar__link:focus {
	color: #12b8ed;
	background-color: rgba(32, 45, 84, .7);
}

.navbar__link.active {
	color: #12b8ed;
}

.header__home {
	background-color: #12b8ed;
	display: inline-block;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	height: 100%;
}

.header__home:hover,
.header__home:focus {
	background-color: #1098c3;
}

.header__home img {
	padding: 5.2rem 5.5rem;
	height: 100%;
}


/* interactive style */
.interactive {
	height: calc(100% - 16rem);
	width: 100%;
}

.interactive__links {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.interactive__link {
	height: 100%;
	width: calc(100% / 3);
}

.interactive__link a {
	color: #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	height: 100%;
}

.interactive__link a:hover,
.interactive__link a:focus {
	opacity: .7;
}

.interactive__link:not(:last-child) {
	border-right: 1px solid #fff;
}

.interactive__link--image {
	height: calc(100% - 24rem - 1px);
}

.interactive__link--image.ems {
	height: calc(100% - 16rem - 1px);
}

.interactive__link--image img {
	height: 100%;
	width: 100%;
}

.interactive__link span {
	background-color: #467db2;
	border-top: 1px solid #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 4.5rem;
	font-weight: 700;
	text-align: center;
	height: 24rem;
}

.interactive__link.ems span {
	font-size: 2.6rem;
	height: 16rem;
}

.interactive__link:first-child span,
.interactive__link:last-child span {
	background-color: #316faa;
}

/* interactive review style */
.interactive__review {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	overflow: hidden;
	height: 100%;
}

.interactive__review--img {
	position: relative;
	height: calc(100% - 24rem);
}

.interactive__review--img img {
	height: 100%;
	width: 100%;
}

.interactive__video {
	position: relative;
	height: calc(100% - 24rem);	
}

.slick-wrapper.video,
.wrapper.video {
	background-color: #12b8ed;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
}

.slick-wrapper {
	overflow: hidden;
	height: 100%;
}

.slick-list,
.slick-track  {
	height: 100%;
}

.slick-button-prev, 
.slick-button-next {
	-webkit-animation: 1.1s opacity;
	        animation: 1.1s opacity;
	background-color: #202d54;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	height: 7rem;
	width: 7rem;
	z-index: 99;
}

@-webkit-keyframes opacity {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes opacity {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.slick-button-prev {
	left: 0;
}

.slick-button-next {
	right: 0;
}

.slick-button-prev img, 
.slick-button-next img {
	height: 2.4rem;
	width: 2.3rem;
}

.interactive__review--link {
	position: absolute;
	z-index: 9;
}

.interactive__review--link a {
	color: #202d54;
	display: block;
	font-family: "MuseoSans-700";
	font-size: 1.9rem;
	line-height: 2.359rem;
	height: 100%;
	width: 100%;
}

.interactive__review--link:hover a,
.interactive__review--link:focus a {
	color: #12b8ed;
}

.interactive__review--link.usa {
	top: 6%;
	left: 16%;
}

.interactive__review--link.donegal {
	top: 6%;
	left: 32%;
}

.interactive__review--link.derry {
	top: 6%;
	left: 43%;
}

.interactive__review--link.uae {
	top: 6%;
	left: 61%;
}

.interactive__review--nav {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	height: 24rem;
}

.interactive__review--description {
	background-color: #12b8ed;
	color: #202d54;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding-left: 6.1rem;
	height: 100%;
	width: 100%;
}

.interactive__review--description h2 {
	color: #fff;
	font-family: "MuseoSans-700";
	font-size: 3.8rem;
	line-height: 4.846rem;
	margin-bottom: 5rem;
}

.interactive__review--description p {
	font-size: 2.1rem;
	font-weight: 700;
	letter-spacing: .085rem;
	text-transform: uppercase;
}

.interactive__review--description span {
	font-family: "MuseoSans-300";
	font-size: 22px;
	line-height: 13.7px;
	margin-left: 3.3rem;
}

.interactive__review--description strong {
	font-family: "MuseoSans-700";
	font-size: 36px;
}

.interactive__review--switches {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	height: 100%;        
}

.interactive__review--switch {
	cursor: pointer;
	width: 22rem;
}

.interactive__review--switch img {
	height: calc(100% - 10rem);
	width: 100%;
}

.interactive__review--switch span {
	background-color: #202d54;
	color: #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-size: 2.1rem;
	font-weight: 700;
	letter-spacing: .083rem;
	text-transform: uppercase;
	height: 10rem;
	width: 100%;
}

.interactive__review--switch:hover span,
.interactive__review--switch:focus span {
	color: #12b8ed;
}

.interactive__review--switch:hover,
.interactive__review--switch:focus {
	opacity: .6;
}

/* interactive services style */
.interactive__link.services {
	width: calc(100% / 2);
}

.interactive__link.services .interactive__link--image {
	height: calc(100% - 10rem - 1px);
}

.interactive__link.services span {
	font-size: 2.6rem;
	height: 10rem;
}

.interactive__link.services:first-child span {
	background-color: #467db2;
}

/* interactive products style */
.interactive__links-products {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
}

.interactive__link-products {
	height: 50%;
	width: calc(100% / 3);
}

/*.interactive__link-products.double {
	height: 50%;
	width: calc(100% / 3 * 2);
}*/

.interactive__link-products a {
	color: #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	height: 100%;
}

.interactive__link-products a:hover,
.interactive__link-products a:focus {
	opacity: .7;
}

.interactive__link-products:not(:last-child) {
	border-right: 1px solid #fff;
}

.interactive__link-products--line {
	background-color: #202d54;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-size: 2.6rem;
	font-weight: 700;
	letter-spacing: .104rem;
	line-height: 3rem;
	text-transform: uppercase;
	height: 3.5rem;
}

.interactive__link-products--image {
	height: calc(100% - 12rem - 1px);
}

.interactive__link-products--image.lv-home {
	height: calc(100% - 12rem - 1px - 3.5rem);
}

.interactive__link-products--image img {
	height: 100%;
	width: 100%;
}

.interactive__link-products--logo {
	background-color: #202d54;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 100%;
	width: 100%;
}

.interactive__link-products--logo img {
	height: 18.3rem;
	width: 19rem;
}

.interactive__link-products span {
	background-color: #316faa;
	border-top: 1px solid #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 2.6rem;
	font-weight: 700;
	line-height: 3rem;
	letter-spacing: .104rem;
	text-align: center;
	height: 12rem;
}

.interactive__link-products:nth-child(3n+2) span {
	background-color: #467db2;
}

/* interactive modular fabrication(mf) style */
.interactive__link.mf {
	width: calc(100% / 2);
}

.interactive__link.mf .interactive__link--image {
	height: calc(100% - 10rem - 1px);
}

.interactive__link.mf span {
	font-size: 2.6rem;
	height: 10rem;
}

.interactive__link.mf:first-child span {
	background-color: #467db2;
}

/* interactive MV Switchgear (mv) style*/
.interactive__link-products.mv {
	width: calc(100% / 2);
}

.interactive__link-products.mv .interactive__link-products--image {
	height: calc(100% - 10rem - 1px);
}

.interactive__link-products.mv span {
	background-color: #467db2;
	height: 10rem;
}

.interactive__link-products.mv:nth-child(3n+1) span {
	background-color: #316faa;
}

@media (min-width: 2120px) {
	html {
		font-size: 12px;
	}
}

@media (min-width: 2020px) and (max-width: 2119px) {
	html {
		font-size: 11px;
	}
}

@media (min-width: 1920px) and (max-width: 2019px) {
	html {
		font-size: 10px;
	}
}

@media (min-width: 1820px) and (max-width: 1919px) {
	html {
		font-size: 9px;
	}
}

@media (min-width: 1720px) and (max-width: 1819px) {
	html {
		font-size: 8px;
	}
}

@media (min-width: 1600px) and (max-width: 1719px) {
	html {
		font-size: 7px;
	}
}

@media (max-width: 1599px) {
	html {
		font-size: 6px;
	}
}